<section class="section about">

    <div class="container pb-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in ViewBag.usuarioList)
                {
                    <tr>
                        <th scope="row">@usuario.id</th>
                        <td>@usuario.nome</td>
                        <td>@usuario.cpf</td>
                        <td>@usuario.fone</td>
                        <td>@usuario.email</td>
                        <td>
                            @Html.ActionLink("editar", "Edit", "Usuario", new { id = usuario.id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("excluir", "Delete", "Usuario", new { id = usuario.id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</section>
       